*, *:before, *:after {
  box-sizing: border-box; }

svg {
  width: 200px; }
  svg path {
    stroke: #000;
    width: .5; }

.grid {
  background: url("../img/jungle.png") left top #000;
  background-size: 45% auto;
  margin: 0;
  padding: 4vh 2vw;
  font-size: 16vw;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-family: "hobeaux-rococeaux", "hwt-american-shopworn", "hobeaux-rococeaux", "muscle-wide";
  font-weight: 400;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  transition: all 1s;
  overflow: hidden;
  width: 100%;
  color: lime;
  text-shadow: 0px 0px 10px #00b100; }
  .grid > span {
    /* background-image: linear-gradient(to top left, #000d00 0%, #001a00 100%); */
    display: flex;
    align-items: center; }
    .grid > span:nth-child(1), .grid > span:nth-child(2), .grid > span:nth-child(3), .grid > span:nth-child(4) {
      color: #afff00;
      text-shadow: 0px 0px 10px 10px white; }
    .grid > span span {
      width: 100%; }
  @media screen and (min-width: 80em) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

body.work .grid {
  background: #fff;
  border: .33vw solid #fff;
  grid-gap: .33vw;
  font-family: "rosella-deco", "hwt-american-shopworn", "hobeaux-rococeaux", "muscle-wide";
  color: #ddd; }
  body.work .grid > span {
    background-image: linear-gradient(to top left, #f1f1f1 0%, #eee 100%); }
    body.work .grid > span span {
      align-self: flex-start; }

/* Estilo iOS */
.switch__container {
  margin: 30px auto;
  width: 120px; }

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px; }

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

.switch + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px; }

.switch + label:before,
.switch + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

.switch + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s; }

.switch + label:after {
  width: 62px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s; }

.switch:checked + label:before {
  background-color: #8ce196; }

.switch:checked + label:after {
  transform: translateX(60px); }
