*, *:before, *:after {
  box-sizing: border-box; }

svg {
  width: 200px; }
  svg path {
    stroke: #000;
    width: .5; }

.grid {
  margin: 0;
  padding: 5vh 2vw;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 1s;
  width: 100%;
  text-transform: uppercase; }

.grid {
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("../img/jungle.png");
  background-position: center center, left top;
  background-size: cover, 1000px auto;
  background-color: #000;
  font-size: 15vw;
  line-height: 1;
  text-align: center;
  font-family: "hobeaux-rococeaux", "hwt-american-shopworn", "hobeaux-rococeaux", "muscle-wide";
  font-weight: 400;
  align-items: stretch;
  color: lime; }
  .grid > span {
    display: flex;
    align-items: center; }
    .grid > span:nth-child(1), .grid > span:nth-child(2), .grid > span:nth-child(3), .grid > span:nth-child(4) {
      color: yellow;
      text-shadow: 0px 0px 10px 10px white; }
      .grid > span:nth-child(1) span.shadow, .grid > span:nth-child(2) span.shadow, .grid > span:nth-child(3) span.shadow, .grid > span:nth-child(4) span.shadow {
        color: rgba(255, 255, 0, 0.2); }
    .grid > span span {
      width: 100%;
      text-shadow: 0px 0px 10px #00b100; }
      .grid > span span.letter {
        z-index: 1; }
      .grid > span span.shadow {
        font-family: "hobeaux-rococeaux-background";
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 0;
        transform: translate-x(-20px);
        /* text-shadow: 0px 0px 10px #00b100 */ }
  @media screen and (min-width: 64em) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

body.work .grid {
  background: #660000;
  font-family: "Nosifer","rosella-deco", "hwt-american-shopworn", "hobeaux-rococeaux", "muscle-wide";
  color: red;
  text-shadow: none; }
  body.work .grid > span:nth-child(1), body.work .grid > span:nth-child(2), body.work .grid > span:nth-child(3), body.work .grid > span:nth-child(4) {
    color: yellow;
    text-shadow: none; }
    body.work .grid > span:nth-child(1) span.shadow, body.work .grid > span:nth-child(2) span.shadow, body.work .grid > span:nth-child(3) span.shadow, body.work .grid > span:nth-child(4) span.shadow {
      color: rgba(255, 255, 0, 0.2); }
  body.work .grid > span span {
    align-self: flex-start; }

.shadow {
  text-shadow: none !important; }

/* Estilo iOS */
.switch__container {
  margin: 30px auto;
  width: 120px; }

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px; }

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

.switch + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px; }

.switch + label:before,
.switch + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

.switch + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s; }

.switch + label:after {
  width: 62px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s; }

.switch:checked + label:before {
  background-color: #8ce196; }

.switch:checked + label:after {
  transform: translateX(60px); }
