$sm-only: "screen and (max-width: 48em)";
$up-to-lg: "screen and (max-width: 64em)";
$sm: "screen and (min-width: 35.5em)";
$md:	"screen and (min-width: 48em)";
$lg:	"screen and (min-width: 64em)";
$xl:	"screen and (min-width: 80em)";

*, *:before, *:after { box-sizing: border-box; }

svg { width: 200px;
	path { stroke: #000; width: .5; }
}


.grid {
	margin: 0;
	padding: 5vh 2vw;
	display: grid;
	height: calc(100vh - 100px);
	grid-template-columns: 1fr 1fr 1fr;
  transition: all 1s;
  width: 100%;
	text-transform: uppercase;
	}

.grid {
	background-image: radial-gradient(rgba(#000,.2),rgba(#000,.9)), url('../img/jungle.png'); background-position: center center, left top; background-size: cover, 1000px auto; background-color: #000;
	font-size: 15vw;
	line-height: 1;
	text-align: center;
	font-family: 	"hobeaux-rococeaux", "hwt-american-shopworn", "hobeaux-rococeaux", "muscle-wide";
	font-weight: 400;
	align-items: stretch;
  color: rgb(0,255,0);
  > span { display: flex; align-items: center;
	  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) { color: rgb(255,255,0); text-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
		  span.shadow { color: rgba(yellow,.2); }
	  }
	  span { width: 100%; text-shadow: 0px 0px 10px #00b100;
		  &.letter { z-index: 1;  }
		  &.shadow { font-family: "hobeaux-rococeaux-background"; color: rgba(#000,.5); position: absolute; z-index: 0; transform: translate-x(-20px); /* text-shadow: 0px 0px 10px #00b100 */; }
	  }
  }
	@media #{$lg} { grid-template-columns: 1fr 1fr 1fr 1fr; }
	}

body.work {
	.grid {
		background: darken(red,30%);
		// border: .33vw solid #fff;
		// grid-gap: .33vw;
		font-family: "Nosifer","rosella-deco", "hwt-american-shopworn", "hobeaux-rococeaux", "muscle-wide";
		color: rgb(255,0,0);
		text-shadow: none;
		> span {
	  	&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) { color: rgb(255,255,0); text-shadow: none;
		 	 span.shadow { color: rgba(yellow,.2); }
	  	}

	  	span { align-self: flex-start; }
		}
	}
}

.shadow { text-shadow: none!important; }

/* Estilo iOS */
.switch__container {
  margin: 30px auto;
  width: 120px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch + label:before,
.switch + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch + label:after {
  width: 62px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch:checked + label:before {
  background-color: #8ce196;
}
.switch:checked + label:after {
  transform: translateX(60px);
}

//Retro Button Styles

:root{
  --button-height: 3rem;
  --color-text: rgba(0,0,0,.25);
  --color-text-shadow: rgba(255,255,255,.15);
  --color-page-bg:#B9B5AA;
  --color-bg:#111;
  --color-bg-light:#222;
  --color-bg-dark: #000;
  --color-overlay-light: rgba(255,255,255,.2);
  --color-overlay-medium: rgba(0,0,0,.1);
  --color-overlay-dark: rgba(0,0,0,.2);
  --color-tab-focus: rgba(255,255,255,.15);
}

.red-button{
  --color-bg:rgba(255,0,0,1);
  --color-bg-light:rgba(255,255,255,.2);
  --color-bg-dark:#D13239;
}

.green-button{
  --color-bg:rgba(0,255,0,1);
  --color-bg-light:rgba(255,255,255,.5);
  --color-bg-dark:#008F70;
}

.blue-button{
  --color-bg:rgba(0,0,255,1);
  --color-bg-light:rgba(255,255,255,.5);
  --color-bg-dark:#004EAD;
}

.yellow-button{
  --color-bg:yellow;
  --color-bg-light:rgba(255,255,255,.5);
  --color-bg-dark:#F2AA30;

}

.retro-button{
  position:relative;
  appearance:none;
  box-sizing:border-box;
  font-size:calc( var(--button-height) / 3 );
  font-family: 'Open Sans', sans-serif;
  background: var(--color-bg);
  height:var(--button-height);
  min-width:var(--button-height);
  border-radius:calc( var(--button-height) / 2);
  border:0;
  font-weight:800;
  text-transform:uppercase;
  color:var(--color-text);
  text-shadow: 1px 1px var(--color-text-shadow);
  cursor:pointer;
  margin:6px 6px;
  letter-spacing:.1em;
  transition: all 200ms ease;
  box-shadow:
    -1px  -1px 1px var(--color-bg), //top highlight
    0 0 0 4px var(--color-overlay-medium), //outer shadow
    1px  1px 1px var(--color-bg-dark), //bottom lowlight
    inset .0 .0 .0 var(--color-overlay-dark), //inset shadow
    inset .5rem .5rem .25rem var(--color-bg-light) //button gloss
}

.retro-button::-moz-focus-inner{
  outline:none;
  border:none;
}

.retro-button:focus{
  outline:none;
  box-shadow:
    -1px -1px 1px var(--color-bg-dark), //top highlight
    0 0 0 4px var(--color-tab-focus), //outer shadow
    1px  1px 1px var(--color-bg-dark), //bottom lowlight
    inset 0 0 0 var(--color-overlay-dark), //inset shadow
    inset .5rem .5rem .25rem var(--color-bg-light), //button gloss
    ;
}

.retro-button:hover{
  box-shadow:
    -1px -1px 1px var(--color-bg-dark), //top highlight
    0 0 0 4px var(--color-overlay-dark), //outer shadow
    1px  1px 1px var(--color-bg-dark), //bottom lowlight
    inset 0 0 0 var(--color-overlay-dark), //inset shadow
    inset .5rem .5rem .25rem var(--color-bg-light), //button gloss
    ;
}

.retro-button:active{
  box-shadow:
    inset 1px 1px 1px var(--color-bg), //top highlight
    0 0 0 4px var(--color-overlay-dark), //outer shadow
    inset -1px -1px 1px var(--color-bg-light), //bottom lowlight
    inset .5rem .5rem .75rem var(--color-bg-dark), //inset shadow
    inset .5rem .5rem .5rem var(--color-bg-light), //button gloss
}

.bottom-button-group{
  background:var(--color-bg);
  padding:1rem;
  box-shadow:
    -1px -1px 1px var(--color-bg-light),
    inset -1px -1px  1px var(--color-bg-dark)
}